<html>
  <h1>About Keshden's Blog</h1>
  <body>
	<p>This blog is an outlet in order for Keshden's creativity to flourish.  through it different aspects</p>
	<p>will be covered, some of which may unwittingly inspire ideas for some of the books keshden is working on</p>
  </body>
  <footer>
    <%= link_to 'Home', root_path %>
  </footer>
</html>
