<html>
  <div class="center jumbotron">
    <h1>Keshden's Blog</h1>
    <%= link_to "Sign-up Today!", signup_path, class: "btn btn-danger btn-xlarge"%>
  </div>
  <body>
	<p>This blog page will cover many of the aspects that are part of "Keshden's" life(Blake) along with his thoughts</p>
  </body>
</html>
