<html>
  <h1>Keshden's Blog</h1>
  <body>
	<p>This blog page will cover many of the aspects that are part of "Keshden's" life(Blake) along with his thoughts</p>
  </body>
  <footer>
	  <%= link_to 'Articles', articles_path%> | <%= link_to 'About', about_path %>
  </footer>
</html>
